@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans";
    font-size: 14px;
}

h2 {
}

.container {
    width: 500px;
    margin: 25px auto;
}

.box {
    padding: 20px;
    background: #2c3e50;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

a.wlink:link {
    color: #ffffff;
}

a.wlink:visited {
    color: #ffffff;
}

a.wlink:hover {
    color: #ffffff;
}

a.wlink:active {
    color: #ffffff;
}

a.olink:link {
    color: #e67e22;
}

a.olink:visited {
    color: #e67e22;
}

a.olink:hover {
    color: #e67e22;
}

a.olink:active {
    color: #e67e22;
}

.a-small {
    font-size: smaller;
}